// Палітра, натхненна вашим дизайном 
$color-primary: #673ab7;     // Насичений фіолетовий (для кнопки)
$color-secondary: #6c757d;    // <--- ДОДАЙТЕ ЦЮ ЗМІННУ (для сірого тексту чи "Oops!")
$color-accent-light: #d1c4e9; // Світла лаванда (для фону)
$color-text-dark: #424242;   // Темно-сірий для основного тексту
$color-text-light: #ffffff;  // Білий
$color-error-code: #5e35b1; // Темніший фіолетовий для числа 404

// Змінна для ілюстрації 404
$image-404-url: url('https://i.pinimg.com/736x/f6/1a/07/f61a07bae4f75262600cb38c22ae0b8b.jpg');

// Відступи
$spacing-unit: 8px;